<% include ./partials/header %>

<div class="login container">
    <h1>Login Page</h1>
    <form action="/login" class="form-group " method="post">
    <input type="text" placeholder="username" class="form-control" name="username">
    <input type="password" placeholder="password" class="form-control" name="password">
    <input  class=" form-control btn btn-primary btn-lg" type="submit">
</form>
</div>

<% include ./partials/footer %>