<% include ./partials/header %>

<div class=" login container">
<h1>Registration Page</h1>
<form method="post" class="form-group" action="/register">
    <input type="text" placeholder="username" class="form-control" name="username"></li>
  <!--  <li> <input type="email" placeholder="email" name="email"></li>  -->
   <input type="password" placeholder="password" class="form-control" name="password"></li>
   <input class="btn btn-primary btn-lg form-control" type="submit"></li>
</form>
</div>

<% include ./partials/footer %>