<% include ../partials/header %>

<h1 style="text-align: center">Create a new CampGround</h1>
<div class="container">
    <div class="row">
        <div style="width: 30%;margin: 0px auto;padding: 10px">
            <form action="/campground" method="post" class="form-group">
                <input type="text" placeholder="name" name="new" class="form-control col-lg-6" style="margin-bottom:5px ">
                <input type="text" placeholder="Image" name="image" class="form-control col-lg-6" style="margin-bottom:5px ">
                <input type="text" placeholder="Description" name="descr" class="form-control col-lg-6" style="margin-bottom:5px ">
                <input type="submit" class="btn btn-lg btn-primary btn-block">
            </form>
            <a href="/campground">Show All</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>